$spacer: 16px;

$font-size-base: 16px;
$font-size-xs: $font-size-base * 0.5;
$font-size-sm: $font-size-base * 0.7;
$font-size-lg: $font-size-base * 1.2;
$font-size-xl: $font-size-base * 1.2;
$font-size-huge: $font-size-base * 1.7;

// $primary: #6b385c;
$primary: #2c0e6385;
$white: rgb(255, 255, 255);
$gray-1: #848484;
$gray-2: #FFB6C1;

$light: $white;
$bright: #ad91a5;
